@font-face {
    font-family: Customfont;
    src: url(../assets/OctinCollegeHv.ttf);
  }

body {
    background-color: #1A1A1A;
    font-family: 'Customfont', sans-serif;
}

.body {
  margin-top: -20px;
  padding-left: 20px;
}

header {
    margin-top: 25px;
    padding: 20px;
}

.active {
    color: #ffffff;
  }

.searchbtn {
    float: right;
}

.trialerofw {
  margin-top: 35px;
}

.totw {
  width: 95%;
  height: 150px;
  border-radius: 20px;
  background-color: black;
}

.image-totw {
  position: relative;
  width: 32.4%;
  
}

.title-totw {
  position: fixed;
  text-align: center;
  padding-left: 30%;
}

