@font-face {
  font-family: Customfont;
  src: url(../assets/OctinCollegeHv.ttf);
}

* {
text-decoration: none;
color: #ffffff;
}

body {
  background-color: #1A1A1A;
  font-family: 'Customfont', sans-serif;
}

.body {
margin-top: -20px;
padding-left: 20px;
}

header {
  /* margin-top: 25px; */
  padding: 20px;
}

.traileroftheweek {
padding: 20px;
}

.active {
  color: #ffffff;
}

.searchbtn {
  float: right;
}

.card {
width: 100%;
height: 100%;
background: black;
border-radius: 4px;
box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
display: flex;
flex-direction: row;
border-radius: 20px;
position: relative;
}


.card-text {
display: grid;
grid-template-columns: 1fr 1fr;
}

.title-total {
/* margin-top: -10px; */
/* margin: auto; */
margin-left: -40px;
font-size: 15px;

}

.desc {
/* color: 0px 14px 80px rgba(255, 255, 255, 0.6); */
color: rgba(255, 255, 255, 0.6);
}

.portada img {
width: 65%;
height: 100%;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}


.slide {
margin: 15px;
}
