@font-face {
  font-family: Customfont;
  src: url(../assets/OctinCollegeHv.ttf);
}

* {
  text-decoration: none;
  color: #ffffff;
}

body {
  background-color: #0B0B0B;
  font-family: 'Customfont', sans-serif;
}

.body {
  margin-top: -20px;
}

header {
  padding-left: 20px;
  padding-bottom: 20px;
}

.active {
  color: #ffffff;
}
