@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

body {
    background-image: linear-gradient(to right, #f04a8a, #f8527b, #fd5d6d, #ff6a5f, #fe7853);
    font-family: 'Paytone One', sans-serif;
}

header {
    text-align: center;
}

.active {
    color: #ffffff;
  }

