.body {
  padding-left: 20px;
}

.trailer-recent {
  display: flex;
}

.trailer-image {
  width: 50%;
  border-radius: 20px;
  box-shadow: 17px 26px 44px -16px rgba(0,0,0,0.51);
}

 .trailer-title {
   padding-left: 25px;
 }

 .trailer-title h3 {
   color: lightgrey;
   margin-top: -15px;
 }
