.card {
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    height: 150px;
    background-color: #000000;
    border-radius: 20px;
}

.card-image {
    position: absolute;
    border-radius: 20px 0px 0px 20px;
}

.card-title {
    font-size: 25px;
    padding-top: 20px;
    padding-left: 120px;
    position: relative;
}

.card-rating {
    padding-top: 7px;
    font-size: 15px;
    padding-left: 120px;
    position: relative;
    color: rgba(255, 255, 255, 0.6);
}

.card-time {
    padding-top: 7px;
    font-size: 15px;
    padding-left: 120px;
    position: relative;
    color: rgba(255, 255, 255, 0.6);
}

.card-category {
    padding-top: 7px;
    font-size: 15px;
    padding-left: 120px;
    position: relative;
    color: rgba(255, 255, 255, 0.6);
}

