.trailer-overview {
    display: none;
    position: fixed;
    background-color: #0B0B0B;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.trailer-one {
    display: none;
    position: fixed;
    background-color: #0B0B0B;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.trailer-overview-container .img{
    width: 10%;
    background-repeat: no-repeat;
}
