.trailer-overview {
    display: none;
    position: fixed;
    background-color: #0B0B0B;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.trailer-overview-container {
    display: flex;
    height: 90%;
    overflow-x: auto;
  }

.trailer-overview-container::-webkit-scrollbar{
    width: 0;
}

.trailer-overview .trailer-overview-array {
    width: 100%;
    text-align: center;
}

.image-size {
    width: 100%;
}

